* {
  background-color: grey;
  color: white;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.rock,
.paper,
.scissors {
  width: 100px;
  height: 100px;
  padding: 30px;
  border-radius: 50%;
  background-color: #edc712;
  size: 100px;
  margin: 5px;
}

.scissors:hover {
  background-color: lightgrey;
}

.rock:hover {
  background-color: lightgray;
}

.paper:hover {
  background-color: lightgray;
}

.scissors:active {
  background-color: blue;
}

.paper:active {
  background-color: blue;
}

.rock:active {
  background-color: blue;
}
