* {
  background-color: grey;
  color: white;
  font-size: 20px;
}

buttons {
  background-color: blue;
}

.move-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: blueviolet;
}

.reset-button {
  height: 100;
  width: 100px;
  border-radius: 50%;
  background-color: blueviolet;
}
.move-button {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 3px solid white;
  background-color: blueviolet;
  margin-right: 10px;
  cursor: pointer;
}

.move-button:hover {
  background-color: darkblue;
}

.move-icon:hover {
  background-color: darkblue;
}

.move-icon:active {
  background-color: plum;
}

.reset-button:hover {
  background-color: darkblue;
}

.reset-button:active {
  background-color: plum;
}
